@inherits ViewComponent
@attribute [ExperimentView(typeof(ExampleRunner))]

<SceneSelector OnSceneLoaded="@SceneBasedRunner.LoadScene" />

<p>
    <button @onclick="ExperimentRunner.Run" disabled="@(!ExperimentRunner.IsReady)">Run</button>
    (Scene: @(SceneBasedRunner.Scene?.Name ?? "[No scene loaded]"))
</p>

@if (ExperimentRunner.HasResults)
{
    <FlipViewer Flip="@ExampleRunner.RenderedImageFlip"></FlipViewer>
}
