@using Microsoft.JSInterop
@using System.Text.Json.Serialization
@inject IJSRuntime JSRuntime

@namespace SeeSharp.Blazor

@if (flipCode != null)
    @((MarkupString)flipCode)

@code {
    string flipCode;
    string flipJson;

    [Parameter]
    public SimpleImageIO.FlipBook Flip { get; set; }
    SimpleImageIO.FlipBook lastFlip;

    public record struct OnClickEventArgs // TODO: rename
    (
        int mouseButton,
        // Mouse X/Y pixel coordinates relative to an image in Flipbook (Pixel (0, 0) at top left of image)
        int mouseX,
        int mouseY,
        int deltaY,

        string FlipbookID,
        int selectedIndex,

        HashSet<String> keysPressed
    )
    {
    }

    [Parameter]
    public EventCallback<OnClickEventArgs> OnClick { get; set; }
    [Parameter]
    public EventCallback<OnClickEventArgs> OnWheel { get; set; } 
    [Parameter]
    public EventCallback<OnClickEventArgs> OnMouseOver { get; set; } 
    [Parameter]
    public EventCallback<OnClickEventArgs> OnKey { get; set; } 

    protected override async Task OnParametersSetAsync()
    {
        if (Flip == null)
        {
            flipCode = null;
            lastFlip = null;
            return;
        }

        if (lastFlip == Flip) return;

        await Task.Run(() => {
            if (Flip.Count == 0) {
                flipJson = null;
                flipCode = "<p>empty flip book</p>";
                return;
            }
            var code = Flip.Generate();
            flipCode = code.Html;
            flipJson = code.Data;
        });

        lastFlip = Flip;
    }

    [JSInvokable]
    public void _OnFlipClick(int mouseButton, int mouseX, int mouseY, int deltaY, string ID, int selectedIdx, String[] keysPressed)
    {
        HashSet<string> set = new HashSet<string>(keysPressed);
        OnClick.InvokeAsync(new(mouseButton: mouseButton, mouseX: mouseX, mouseY: mouseY, deltaY: deltaY, FlipbookID: ID, selectedIndex: selectedIdx, keysPressed: set)).Wait();
    }

    [JSInvokable]
    
    public void _OnFlipWheel(int mouseButton, int mouseX, int mouseY, int deltaY, string ID, int selectedIdx, String[] keysPressed)
    {
        HashSet<string> set = new HashSet<string>(keysPressed);
        OnWheel.InvokeAsync(new(mouseButton: mouseButton, mouseX: mouseX, mouseY: mouseY, deltaY: deltaY, FlipbookID: ID, selectedIndex: selectedIdx, keysPressed: set)).Wait();
    }

    [JSInvokable]
    public void _OnFlipMouseOver(int mouseButton, int mouseX, int mouseY, int deltaY, string ID, int selectedIdx, String[] keysPressed)
    {
        HashSet<string> set = new HashSet<string>(keysPressed);
        OnMouseOver.InvokeAsync(new(mouseButton: mouseButton, mouseX: mouseX, mouseY: mouseY, deltaY: deltaY, FlipbookID: ID, selectedIndex: selectedIdx, keysPressed: set)).Wait();
    }

    [JSInvokable]
    
    public void _OnFlipKey(int mouseButton, int mouseX, int mouseY, int deltaY, string ID, int selectedIdx, String[] keysPressed)
    {
        HashSet<string> set = new HashSet<string>(keysPressed);
        OnKey.InvokeAsync(new(mouseButton: mouseButton, mouseX: mouseX, mouseY: mouseY, deltaY: deltaY, FlipbookID: ID, selectedIndex: selectedIdx, keysPressed: set)).Wait();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        // Need to wait with invoking the JS code until the HTML got added to the DOM on the client side
        if (flipJson != null)
        {
            await JSRuntime.InvokeVoidAsync(
                "makeFlipBook", 
                flipJson, 
                DotNetObjectReference.Create(this), 
                nameof(_OnFlipClick), 
                DotNetObjectReference.Create(this), 
                nameof(_OnFlipWheel),
                DotNetObjectReference.Create(this), 
                nameof(_OnFlipMouseOver),
                DotNetObjectReference.Create(this), 
                nameof(_OnFlipKey)
                );
            flipJson = null;
        }
    }
}