div {
  display: flex;
  margin-top: 0.5em;
}

p {
  width: 6em;
  text-align: right;
  margin-right: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

input {
  padding: 0.5em;
  font-size: medium;
  flex-grow: 1;
}
